<!--build:style_style1-->
<link rel="stylesheet" href="assets/css/style1.css">
<!--/build:style_style1-->
    
<!-- build:index1 -->
    <div class="list">
        <ul>
            <li> <a id="logo" href="#"><img src="assets/images/menu_logo.png" width="30px" height="34px"></a></li>
            <li> <a href="#">Star</a></li>
            <li> <a href="#">TV Show</a></li>
            <li> <a href="#">Ciné</a></li>
            <li> <a href="#">Musik</a></li>
            <li> <a href="#">Fashion</a></li>
            <li> <a href="#">Đời sống</a></li>
            <li> <a href="#">Ăn cả thế giới</a></li>
            <li> <a href="#">Xã hội</a></li>
            <li> <a href="#">Thế giới</a></li>
            <li> <a href="#">Sport</a></li>
            <li> <a href="#">Học đường</a></li>
            <li> <a href="#">Video</a></li>
            <li> <a href="#"><img src="assets/images/menu_menu.png" width="23px" height="16px" alt="menu"></a></li>
        </ul>
    </div>
<!-- /build:index1 -->
<!--build:style_style10-->
<link rel="stylesheet" href="assets/css/style10.css">
<!--/build:style_style10-->

<!-- build:index10 -->
    <div class="head">
        <a href="#">
            <h1>TIN CÙNG CHUYÊN MỤC</h1>
        </a>
        <span>Xem theo ngày</span>
        <select id="opHead">
            <option>21</option>
            <option>20</option>
        </select>
        <select id="opBet">
            <option>THÁNG 6</option>
            <option>THÁNG 5</option>
        </select>
        <select id="opEnd">
            <option>2018</option>
            <option>2017</option>
        </select>
        <button name="button" type="button">Xem</button>
    </div>
    <div class="tren">
        <div class="stt1">
            <a href="#"> <img src="assets/images/news-category-stt1.png" alt="anh" width="227px" height="143px"></a>
            <div class="danNgang">
                <a href="#">
                    <h3>Vĩnh Long: Bé gái 4 tuổi bị bạn của bố dùng tay đánh đập xuống nền gạch đầu tử vong,
                        hung thủ bị điều tra về hành vi"Cố ý gây thương tích"
                        <span style="cursor:pointer;"><img src="assets/images/news-category-noBat.PNG"></span>
                    </h3>
                </a>
            </div>

        </div>
        <div class="stt2">
            <a href="#"> <img src="assets/images/news-category-stt2.png" alt="anh" width="227px" height="143px"></a>
            <div class="danNgang">
                <a href="#">
                    <h3> Cấu chuyện "Cô gái chờ bạn trai suốt đêm ngoài đường rồi bất ngờ
                        bỏ đi để lại túi xách giấy tờ" khiến cư dân mạng trổ tài thám tử
                        <span style="cursor:pointer;"><img src="assets/images/news-category-noBat.PNG"></span>
                    </h3>
                </a>

            </div>

        </div>
        <div class="stt3">
            <a href="#"> <img src="/images/news-category-stt3.png" alt="anh" width="227px" height="143px"></a>
            <div class="danNgang">
                <a class="mot1" href="#">
                    <h3> Vụ thi thể bị trói chân tay nổi trên sông ở Đà Nẵng:
                        Nạn nhân làm nghề cho vay tiền
                        <span> - 47 phút trước</span>
                    </h3>
                </a>
            </div>
        </div>
    </div>
    <div class="duoi">
        <div class="stt4">
            <a href="#"> <img src="/images/news-category-stt4.png" alt="anh" width="227px" height="143px"></a>
            <div class="danNgang">
                <a href="#">
                    <h3>Quảng Ninh: Sét đánh khiến toàn bộ điện lưới đảo Cô Tô mất điện kéo dài
                        <span> - 01 giờ trước</span>
                    </h3>
                </a>
            </div>
        </div>
        <div class="stt5">
            <a href="#"> <img src="/images/news-category-stt5.png" alt="anh" width="227px" height="143px"></a>
            <div class="danNgang">
                <a href="#">
                    <h3>Khối u quái có răng, tóc, xương trong buồng trứng bé gái <span> - 01 giờ trước</span></h3>
                </a>
            </div>
        </div>
        <div class="stt6">
            <a href="#"> <img src="/images/news-category-stt6.png" alt="anh" width="227px" height="143px"></a>
            <div class="danNgang">
                <a href="#">
                    <h3>Người thân hai thiếu nữ tử vong mang tài đến trụ sở công an huyện
                        <span> - 01 phút trước</span>
                    </h3>
                </a>
            </div>
        </div>

    </div>

<!-- /build:index10 -->
<!--build:style_style11-->
<link rel="stylesheet" href="assets/css/style11.css">
<!--/build:style_style11-->

<!-- build:index11 -->
    <div class="wrap">
        <table class="head">
            <tbody>
                <tr>
                    <td>
                        <h3>TIN MỚI NHẤT</h3>
                        <a href="#"><img src="assets/images/nut_len.PNG"></a>
                        <a href="#"><img src="assets/images/nut_xuong.PNG"></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="scroll-table">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="list_hour">
                                <section id="left">
                                    <a href="#">
                                        <p>13:00</p>
                                    </a>
                                </section>
                                <aside id="right" style="margin-left: 10px;">
                                    <a href="#">
                                        <p>6 tháng sau vụ "13 đứa trẻ nhà Turpin": Cặp vợ chồng quỷ dữ ra hầu tòa, 13
                                            người con đều đang hồi phục tốt
                                        </p>
                                    </a>
                                </aside>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="list_hour">
                                <section id="left">
                                    <a href="#">
                                        <p>13:00</p>
                                    </a>
                                </section>
                                <aside id="right">
                                    <a href="#">
                                        <p>Đến hẹn lại lên, gà YG lại bị KBS " cấm cửa" và Black Pink cũng không thoát
                                        </p>
                                    </a>
                                </aside>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="list_hour">
                                <section id="left">
                                    <a href="#">
                                        <p>12:59</p>
                                    </a>
                                </section>
                                <aside id="right">
                                    <a href="#">
                                        <p>Triệt phá ổ mại dâm núp bóng quán cà phê do ông " trùm" U60 cầm đầu</p>
                                    </a>
                                </aside>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="list_hour">
                                <section id="left">
                                    <a href="#">
                                        <p>12:55</p>
                                    </a>
                                </section>
                                <aside id="right">
                                    <a href="#">
                                        <p>18 items dễ mặc, trendy giá từ 149k - 499k đáng mua nhất trong đợt
                                            sale lớn nhất năm của Zara Việt Nam</p>
                                    </a>
                                </aside>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="list_hour">
                                <section id="left">
                                    <a href="#">
                                        <p>12:30</p>
                                    </a>
                                </section>
                                <aside id="right">
                                    <a href="#">
                                        <p>Cách chức Trưởng công an xã vào nhà nghỉ với vợ bạn thân</p>
                                    </a>
                                </aside>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="list_hour">
                                <section id="left">
                                    <a href="#">
                                        <p>12:10</p>
                                    </a>
                                </section>
                                <aside id="right">
                                    <a href="#">
                                        <p>Đến hẹn lại lên, gà YG lại bị KBS " cấm cửa" và Black Pink cũng không thoát
                                        </p>
                                    </a>
                                </aside>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

<!-- /build:index11 -->
<!--build:style_style2-->
<link rel="stylesheet" href="assets/css/style2.css">
<!--/build:style_style2-->

<!-- build:index2 -->
    <div class="list">
        <ul>
            <li> <a id="home" href="#"><img src="assets/images/menu1-home.png" width="17.5px" height="19.5px"></a></li>
            <li> <a href="#">Star</a></li>
            <li> <a href="#">TV Show</a></li>
            <li> <a href="#">Ciné</a></li>
            <li> <a href="#">Musik</a></li>
            <li> <a href="#">Fashion</a></li>
            <li> <a href="#">Đời sống</a></li>
            <li> <a href="#">Ăn cả thế giới</a></li>
            <li> <a href="#">Xã hội</a></li>
            <li> <a href="#">Thế giới</a></li>
            <li> <a href="#">Sport</a></li>
            <li> <a href="#">Học đường</a></li>
            <li> <a href="#">Video</a></li>
            <li> <a id="menu" href="#"><img src="assets/images/menu1-menu.png" width="24px" height="14px" alt="menu"></a></li>
        </ul>
    </div>

<!-- /build:index2 -->
<!--build:style_style3-->
<link rel="stylesheet" href="assets/css/style3.css">
<!--/build:style_style3-->

<!-- build:index3 -->
    <div class="list">
        <ul>
            <li> <a id="home" href="#"><img src="assets/images/menu3-home.png" width="26px" height="24px"></a></li>
            <li> <a href="#">Video</a></li>
            <li> <a href="#">Sự kiện</a></li>
            <li> <a href="#">Xã hội</a></li>
            <li> <a href="#">Thế giới</a></li>
            <li> <a href="#">Thể thao</a></li>
            <li> <a href="#">Giáo dục</a></li>
            <li> <a href="#">Nhân ái</a></li>
            <li> <a href="#">Kinh doanh</a></li>
            <li> <a href="#">Văn hóa</a></li>
            <li> <a href="#">Giải trí</a></li>
            <li> <a href="#">Du lịch</a></li>
            <li> <a href="#">Pháp luật</a></li>
            <li> <a href="#">Nhịp sống trẻ</a></li>
            <li> <a href="#">Sức khỏe</a></li>
            <li> <a href="#">Sức mạnh số</a></li>
            <li> <a href="#">Xe++</a></li>
            <li> <a href="#">Tình yêu</a></li>
            <li> <a href="#">Chuyện lạ</a></li>
        </ul>
    </div>
<!-- /build:index3 -->
<!--build:style_style4-->
<link rel="stylesheet" href="assets/css/style4.css">
<!--/build:style_style4-->

<!-- build:index4 -->
    <div class="tren">
        <div class="left">
            <a href="#"><img src="assets/images/left.png" alt="anh1" width="252px" height="166px"></a>
        </div>

        <div class="right">
            <a href="#">
                <h2>Những gương mặt thủ khoa đại học đạt tuyệt đối 30 điểm: Khi bạn giỏi thực sự, điểm thi chỉ là một
                    con
                    số!</h2>
            </a>
            <div class="danNgang">
                <a href="#"><strong>Học đường </strong></a>
                <span class="gio" style="margin-left: 2px;"> - 3 giờ trước</span>
            </div>
            <a href="#">
                <p>Hầu hết thủ khoa đạt 30 điểm trong kỳ thi THPT Quốc gia đều tự chấm được 30 điểm cho mình ngay sau
                    khi
                    ...</p>
            </a>
        </div>
    </div>
    <div class="duoi">
        <div class="left1">
            <a href="#"><img src="assets/images/news-list-anh2.png" alt="anh1" width="252px" height="166px"></a>
        </div>

        <div class="right1">
            <a href="#">
                <h2>Cầu thủ Morocco tố trộng tài lén lút xin áo đấu của Ronaldo</h2>
            </a>
            <div class="danNgang1">
                <a href="#"><strong>sport </strong></a>
                <span class="gio" style="margin-left: 2px;"> - 4 giờ trước</span>
            </div>
            <a href="#">
                <p>Tiền vệ Nordin Amrabat cáo buộc trọng tài Mark Geiger có hành động
                    ngỏ ý xin áo đấu của Cristiano Ronaldo trong hiệp 1 ...
                </p>
            </a>
        </div>
    </div>

<!-- /build:index4 -->
<!--build:style_style5-->
<link rel="stylesheet" href="assets/css/style5.css">
<!--/build:style_style5-->

<!-- build:index5 -->
    <div class="stt1">
        <div class="left">
            <a href="#"><img src="assets/images/left.png" alt="anh1" width="252px" height="166px"></a>
        </div>

        <div class="right">
            <a href="#">
                <h2>Những gương mặt thủ khoa đại học đạt tuyệt đối 30 điểm: Khi bạn giỏi thực sự, điểm thi chỉ là một
                    con
                    số!</h2>
            </a>
            <div class="danNgang">
                <a href="#"><strong>Học đường </strong></a>
                <span class="gio" style="margin-left: 2px;"> - 3 giờ trước</span>
            </div>
            <a href="#">
                <p>Hầu hết thủ khoa đạt 30 điểm trong kỳ thi THPT Quốc gia đều tự chấm được 30 điểm cho mình ngay sau
                    khi
                    ...</p>
            </a>
        </div>
    </div>
    <div class="stt2">
        <div class="left1">
            <a href="#"><img src="assets/images/news-list-anh2.png" alt="anh1" width="252px" height="166px"></a>
        </div>

        <div class="right1">
            <a href="#">
                <h2>Cầu thủ Morocco tố trộng tài lén lút xin áo đấu của Ronaldo</h2>
            </a>
            <div class="danNgang1">
                <a href="#"><strong>sport </strong></a>
                <span class="gio" style="margin-left: 2px;"> - 4 giờ trước</span>
            </div>
            <a href="#">
                <p>Tiền vệ Nordin Amrabat cáo buộc trọng tài Mark Geiger có hành động
                    ngỏ ý xin áo đấu của Cristiano Ronaldo trong hiệp 1 ...
                </p>
            </a>
        </div>
    </div>
    <div class="stt3">
        <div class="left2">
            <a href="#"><img src="assets/images/step2-anh3.png" alt="anh1" width="252px" height="166px"></a>
        </div>

        <div class="right2">
            <a href="#">
                <h2>Quán phở gia truyền 100 năm của Hà Nội bất ngờ được quảng cáo trên kênh du lịch ESB nổi tiếng của Hàn Quốc</h2>
            </a>
            <div class="danNgang2">
                <a href="#"><strong>Ăn cả thế giới </strong></a>
                <span class="gio" style="margin-left: 2px;"> - 4 giờ trước</span>
            </div>
            <a href="#">
                <p>Hình ảnh phở Việt Nam ngày càng nhận được sự yêu mến của bạn bè quốc tế, và đó chính là một niềm tự hào rất đáng ... </p>
            </a>
        </div>
    </div>
    <div class="stt4">
        <div class="left3">
            <a href="#"><img src="assets/images/step2-anh4.png" alt="anh1" width="252px" height="166px"></a>
        </div>

        <div class="right3">
            <a href="#">
                <h2>Lục lại gia tài 10 diễn viên"Lord of the Rings" trở thành báu vật của Hollywood</h2>
            </a>
            <div class="danNgang3">
                <a href="#"><strong>Ciné </strong></a>
                <span class="gio" style="margin-left: 2px;"> - 4 giờ trước</span>
            </div>
            <a href="#">
                <p>Nhiều diễn viên đã trở nên nổi tiếng nhờ loạt phim"Lord of the Rings" nhưng ai mới là báu vật thật sự trong đời sống</p>
            </a>
        </div>
    </div>

<!-- /build:index5 -->
<!--build:style_style6-->
<link rel="stylesheet" href="assets/css/style6.css">
<!--/build:style_style6-->

<!-- build:index6 -->
    <div class="tren">
        <div class="head">
            <h3><a href="#">THỜI SỰ</a> </h3>
        </div>
        <div class="anh">
            <a href="#"><img src="assets/images/news-list-3-stt1.png" alt="anh" width="258px" height="147px"></a>
        </div>
        <div class="content">
            <a href="#">
                <h4>Triệt phá ổ mại dâm núp bóng quán cà phê do ông "trùm" U60 cầm đầu</h4>
            </a>
        </div>
    </div>
    <div class="duoi">
        <div class="duoi_tren">
            <a href="#"><img src="assets/images/news-list-3-stt2.png" alt="anh" width="50px" height="50px"></a>
            <a href="#">
                <p>Cách chức Trưởng công an xã vào nhà nghỉ với vợ bạn thân</p>
            </a>

        </div>
        <div class="duoi_duoi">
            <a href="#"><img src="assets/images/news-list-3-stt3.png" alt="anh" width="50px" height="50px"></a>
            <a href="#">
                <p>Vĩnh Long: Bé gái 4 tuổi bị bạn của bố dùng tay đánh đập xuống nền...</p>
            </a>
        </div>
    </div>
<!-- /build:index6 -->
<!--build:style_style7-->
<link rel="stylesheet" href="assets/css/style7.css">
<!--/build:style_style7-->

<!-- build:index7 -->
    <div class="boder">
        <div class="head">
            <img src="assets/images/Capture.PNG">
            <h1 style="cursor: pointer;">ĐANG ĐƯỢC QUAN TÂM</h1>
        </div>
        <div class="content">
            <div class="stt1">
                <div class="upon">
                    <div class="anh1">
                        <a href="#">
                            <img src="assets/images/Capture_1.PNG" alt="ảnh" width="209px" height="130px"></a>
                    </div>
                </div>
                <div class="under">
                    <a href="#">
                        <h2>"Đại chiến khoe nhẫn kim cương" của Hà Hồ và Lệ Quyên chắc chắn còn căng hơn cả...</h2>
                    </a>
                </div>
            </div>
            <div class="stt2">
                <div class="upon">
                    <div class="anh1"> <a href="#"><img src="assets/images/anh1_step3.png" alt="ảnh" width="209px"
                                height="130px"></a>
                    </div>
                    <div class="anh2">
                        <a href="#"><img src="assets/images/mat_xem_step3.png" alt="ảnh"></a>
                    </div>
                    <div class="nguoiXem">
                        <a href="#" style="color: rgb(216, 211, 202);">
                            <p>114.944 lượt xem</p>
                        </a>
                    </div>

                </div>
                <div class="under">
                    <a href="#">
                        <h2>Xuất thân trâm anh thế phiệt của các sao Hollywood: Sinh ra đã ngậm thìa vàng ...</h2>
                    </a>
                </div>
            </div>
            <div class="stt3">
                <div class="upon">
                    <div class="anh1"> <a href="#"><img src="assets/images/news-slide-3.png" alt="ảnh" width="219px"
                                height="210px"></a>
                    </div>
                </div>
            </div>

        </div>
        <div class="footer">
            <a href="#"><img src="assets/images/Capture_2.PNG"></a>
        </div>
    </div>

<!-- /build:index7 -->
<!--build:style_style8-->
<link rel="stylesheet" href="assets/css/style8.css">
<!--/build:style_style8-->

<!-- build:index8 -->
    <div class="stt1">
        <div class="left1">
            <a href="#"><img src="assets/images/step8_stt1.png" alt="anh1" width="38px" height="38px"></a>
        </div>

        <div class="right1">
            <a href="#">
                <h2>Sóc Sơn: Cháy chợ lớn, 1000 mét vuông chợ bị thiêu rụi</h2>
            </a>
            <div class="danNgang">
                <a href="#">2 giờ trước</a>
                <span class="luotXem" style="margin-left: 2px;"> - 7k lượt xem</span>
            </div>
        </div>
    </div>
    <div class="stt2">
        <div class="left2">
            <a href="#"><img src="assets/images/step8_stt2.png" alt="anh1" width="38px" height="38px"></a>
        </div>

        <div class="right2">
            <a href="#">
                <h2>Bảo Thy: Tiền thu nhạc chuông, nhạc chờ cách đây 10 năm đã là 2 tỷ</h2>
            </a>
            <div class="danNgang">
                <a href="#">1 ngày trước</a>
                <span class="luotXem" style="margin-left: 2px;"> - 6k lượt xem</span>
            </div>
        </div>
    </div>
    <div class="stt3">
        <div class="left3">
            <a href="#"><img src="assets/images/step8_stt3.png" alt="anh1" width="38px" height="38px"></a>
        </div>

        <div class="right3">
            <a href="#">
                <h2>Kim Woo Bin đã bình phục trở lại sau 1 năm điều trị ung thư</h2>
            </a>
            <div class="danNgang">
                <a href="#">1 ngày trước</a>
                <span class="luotXem" style="margin-left: 2px;"> - 126 lượt xem</span>
            </div>
        </div>
    </div>
    <div class="stt4">
        <div class="left4">
            <a href="#"><img src="assets/images/step8_stt4.png" alt="anh1" width="38px" height="38px"></a>
        </div>

        <div class="right4">
            <a href="#">
                <h2>Khi vợ cấm đi xem World Cup thì...</h2>
            </a>
            <div class="danNgang">
                <a href="#">1 ngày trước</a>
                <span class="luotXem" style="margin-left: 2px;"> - 5k lượt xem</span>
            </div>
        </div>
    </div>

<!-- /build:index8 -->
<!--build:style_style9-->
<link rel="stylesheet" href="assets/css/style9.css">
<!--/build:style_style9-->

<!-- build:index9 -->
    <div class="left">
        <img src="assets/images/playlist_left.png" alt="anh" width="313px" height="310px">
        <div id="anh"><a href="#"><img src="assets/images/playlist_chânnh.png" alt="anh" width="309px" height="121px"></a></div>
    </div>
    <div class="right">
        <div class="mutex">
            <img src="assets/images/nut_chay.PNG" alt="anh" width="30px" height="32px">
            <h1><u>Mutex</u></h1>
        </div>
        <div class="list">
            <div class="stt1">
                <div class="left1">
                    <a href="#"><img src="assets/images/step8_stt1.png" alt="anh1" width="38px" height="38px"></a>
                </div>
                <div class="right1">
                    <a href="#">
                        <h2>Sóc Sơn: Cháy chợ lớn, 1000 mét vuông chợ bị thiêu rụi</h2>
                    </a>
                    <div class="danNgang">
                        <a href="#">2 giờ trước</a>
                        <span class="luotXem" style="margin-left: 2px;"> - 7k lượt xem</span>
                    </div>
                </div>
            </div>
            <div class="stt2">
                <div class="left2">
                    <a href="#"><img src="assets/images/step8_stt2.png" alt="anh1" width="38px" height="38px"></a>
                </div>

                <div class="right2">
                    <a href="#">
                        <h2>Bảo Thy: Tiền thu nhạc chuông, nhạc chờ cách đây 10 năm đã là 2 tỷ</h2>
                    </a>
                    <div class="danNgang">
                        <a href="#">1 ngày trước</a>
                        <span class="luotXem" style="margin-left: 2px;"> - 6k lượt xem</span>
                    </div>
                </div>
            </div>
            <div class="stt3">
                <div class="left3">
                    <a href="#"><img src="assets/images/step8_stt3.png" alt="anh1" width="38px" height="38px"></a>
                </div>

                <div class="right3">
                    <a href="#">
                        <h2>Kim Woo Bin đã bình phục trở lại sau 1 năm điều trị ung thư</h2>
                    </a>
                    <div class="danNgang">
                        <a href="#">1 ngày trước</a>
                        <span class="luotXem" style="margin-left: 2px;"> - 126 lượt xem</span>
                    </div>
                </div>
            </div>
            <div class="stt4">
                <div class="left4">
                    <a href="#"><img src="assets/images/step8_stt4.png" alt="anh1" width="38px" height="38px"></a>
                </div>

                <div class="right4">
                    <a href="#">
                        <h2>Khi vợ cấm đi xem World Cup thì...</h2>
                    </a>
                    <div class="danNgang">
                        <a href="#">1 ngày trước</a>
                        <span class="luotXem" style="margin-left: 2px;"> - 5k lượt xem</span>
                    </div>
                </div>
            </div>
        </div>

    </div>

<!-- /build:index9 -->