@import "include/_body";
@import "include/_theA";
@import "include/_bien";

body {
    @include body(1402px, 42px);
    font-size: 15px;
    
}
a {
    display: block;
    text-align: center;
    padding: 11px;
    padding-top: 13px;
    text-decoration: none;
    @include the_a(white);
}
ul {
    li {
        #home{
            padding-top: 9.6px;
            margin-left: 162px;
        }
        #menu{
            padding-top: 15px;
        }
        float: left;
    }
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 42px;
  overflow: hidden;
  background-color:rgb(165,18,32);
}
