@import "include/_body";
@import "include/_theA";
@import "include/_bien";
@import "include/_img";

a {
    @include the_a(rgb(42, 42, 46));
}
body {
    @include body(580px, 345px);
    font-family: $font;
    font-size: 7px;
    margin-top: 9px;
    margin-left: 7px;
}
.mutex {
    display: inline-flex;
    width: 255px;
    margin-bottom: 9px;
    background-color: rgb(229,229,232);
    
    h1{
        font-size: 19px;
        margin-left: 6px;
        margin-top: 4px;
        u{
            text-decoration: none;
            border-bottom: 4px solid rgb(41,247,150);
        }
    }
}
.left{
    position: relative;
    #anh{
        position: absolute;
        top: 186px;
        left: 2px;
    }
}
.right {
    float: right;
    margin-left: 16px;
    position: absolute;
    top: 12px;
    left: 315px;
    width: 255px;
    height: 305px;
    border-right: 1px solid rgb(241,241,241);
    .danNgang {
        display: flex;
        a {
            color: rgb(136, 136, 136);
        }
        .luotXem {
            color: rgb(136, 136, 136);
        }
    }
}
.stt1 {
    .left1 {
        margin-bottom: 20px;
    }
    .right1 {
        float: right;
        max-width: 100%;
        position: absolute;
        left: 49px;
        top: 41px;
        width: 200px;
        h2 {
            margin-bottom: 4px;
        }
    }
    border-right: 5px solid rgb(216,216,216);
}
.stt2 {
    .left2 {
        margin-bottom: 20px;
    }
    .right2 {
        float: right;
        max-width: 100%;
        position: absolute;
        left: 49px;
        top: 100px;
        width: 200px;
        h2 {
            margin-bottom: 4px;
        }
    }
}
.stt3 {
    .left3 {
        margin-bottom: 20px;
    }
    .right3 {
        float: right;
        max-width: 100%;
        position: absolute;
        left: 49px;
        top: 159px;
        width: 200px;
        h2 {
            margin-bottom: 4px;
        }
    }
}
.stt4 {
    .left4 {
        margin-bottom: 20px;
    }
    .right4 {
        float: right;
        max-width: 100%;
        position: absolute;
        left: 49px;
        top: 223px;
        width: 200px;
        h2 {
            margin-bottom: 4px;
        }
    }
}

