@import "include/_body";
@import "include/_theA";
@import "include/_bien";

body {
    @include body(1405px, 38px);
    font-size: 12.5px;
    
}
a {
    display: block;
    text-align: center;
    padding: 5px;
    padding-top: 13px;
    text-decoration: none;
    @include the_a(white);
}
ul {
    li {
        #home{
            padding-top: 6px;
            margin-left: 162px;
        }
        #menu{
            padding-top: 15px;
        }
        float: left;
        border-right: 2px solid rgb(57,107,176) ;
    }
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 38px;
  overflow: hidden;
  background: url(/images/menu3-nen.png);
}
