$netDut: 1px dotted #c7c6c6;
@import "include/_body";
@import "include/_theA";
@import "include/_bien";

#left {
  border-right: $netDut;
  float: left;
  width: 34px;
  padding-bottom: 27px;
  p {
    color: orangered;
  }
}
#right {
  p {
    margin-top: 1px;
    color: black;
  }
  float: right;
  width: 185px;
  font-weight: 700;
  line-height: 16.5px;
  padding-right: 4px;
}
body {
  @include body(276px, 403px);
  margin-top: 9px;
  margin-left: 4px;
}
.head {
  h3 {
    background: url(/images/dongHo.PNG);
    background-repeat: no-repeat;
    padding-left: 30px;
    margin-top: 0px;
    margin-bottom: 11px;
    margin-right: 28px;
  }
  td{
    display: inline-flex;
  }
}
.list_hour {
  height: 45px;
  border-bottom: $netDut;
  font-family: $font;
  font-size: 11px;
  padding-bottom: 30px;
}
a {
  text-decoration: none;
  display: block;
}
.scroll-table {
  table{
    margin-left: 8px;
  }
  width: 260px;
  height: 365px;
  overflow-y: auto;
  border: 1px solid rgb(150, 130, 130);
  border-radius: 3px;
  margin-left: 8px;

}
::-webkit-scrollbar {
  width: 5px;
  border: 1px solid #d5d5d5;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #c2c0c0;
}
