a:hover {
  color: #9090a5; }

img {
  max-width: 100%;
  max-height: auto; }

body {
  width: 585px;
  height: 314px;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9px;
  margin-left: 5px;
  margin-top: 25px; }

a {
  display: block;
  text-decoration: none;
  color: black; }

.anh1 {
  position: relative; }

.anh2 {
  position: absolute;
  top: 176px;
  left: 294px; }

.nguoiXem {
  position: absolute;
  top: 169px;
  left: 320px;
  color: #e4d9d9;
  font-size: 11.5px; }

.under {
  border-bottom: 0.1px solid #e6e6e6;
  border-right: 0.1px solid #e6e6e6;
  border-left: 0.1px solid #e6e6e6;
  margin-right: 17px; }
  .under h2 {
    margin-left: 9px;
    line-height: 19.5px;
    margin-top: 5px;
    margin-bottom: 19.8px; }

.content {
  display: inline-flex;
  margin-left: 50px; }
  .content .stt2 {
    margin-right: 15px; }

.head {
  width: 258px;
  margin-left: 45px; }
  .head h1 {
    float: right; }
  .head img {
    margin-top: 14px; }

.footer {
  margin-left: 266px;
  margin-top: 10px; }

/*# sourceMappingURL=style7.css.map */
