a:hover {
  color: #9090a5; }

body {
  width: 1402px;
  height: 42px;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  font-size: 15px; }

a {
  display: block;
  text-align: center;
  padding: 11px;
  padding-top: 13px;
  text-decoration: none;
  display: block;
  text-decoration: none;
  color: white; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 42px;
  overflow: hidden;
  background-color: #a51220; }
  ul li {
    float: left; }
    ul li #home {
      padding-top: 9.6px;
      margin-left: 162px; }
    ul li #menu {
      padding-top: 15px; }

/*# sourceMappingURL=style2.css.map */
