@import "include/_body";
@import "include/_theA";
@import "include/_bien";
@import "include/_img";

$vien: 0.1px solid rgb(230, 230, 230);

body {
    @include body(585px, 314px);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    margin-left: 5px;
    margin-top: 25px;
}
// .boder{
//   border: 1px solid rgb(226, 218, 218);
// }
a {
    @include the_a(black);
}
.anh1 {
    position: relative;
}
.anh2 {
    position: absolute;
    top: 176px;
    left: 294px;
}
.nguoiXem {
    position: absolute;
    top: 169px;
    left: 320px;
    color: rgb(228, 217, 217);
    font-size: 11.5px;
}
.under {
    border-bottom: $vien;
    border-right: $vien;
    border-left: $vien;
    margin-right: 17px;
h2 {
    margin-left: 9px;
    line-height: 19.5px;
    margin-top: 5px;
    margin-bottom: 19.8px;
 
}
}
.content{
  display: inline-flex;
  margin-left: 50px;
  .stt2{
    margin-right: 15px;
  }
}
.head{
  h1{
    float: right;
  }
  img{
    margin-top: 14px;
  }
  width: 258px;
  margin-left: 45px;
}
.footer{
  margin-left: 266px;
  margin-top: 10px;
}




