a:hover {
  color: #9090a5; }

img {
  max-width: 100%;
  max-height: auto; }

a {
  display: block;
  text-decoration: none;
  color: #2a2a2e; }

body {
  width: 705px;
  height: 442px;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12.69px;
  margin-top: 9px;
  margin-left: 7px; }

.tren .left {
  float: left;
  position: relative; }
.tren .right {
  float: right;
  width: 434px;
  max-width: 100%; }
  .tren .right h2 {
    margin-top: 0%;
    line-height: 25px;
    margin-bottom: 13px; }
  .tren .right p {
    line-height: 20px; }
.tren .danNgang {
  display: flex; }
  .tren .danNgang .gio {
    color: #777777; }

.duoi .left1 {
  float: left;
  position: absolute;
  top: 217px; }
.duoi .right1 {
  float: right;
  width: 434px;
  max-width: 100%;
  margin-top: 44px; }
  .duoi .right1 h2 {
    margin-top: 0%;
    line-height: 25px;
    margin-bottom: 13px; }
  .duoi .right1 p {
    line-height: 20px; }
.duoi .danNgang1 {
  display: flex; }
  .duoi .danNgang1 .gio {
    color: #777777; }

/*# sourceMappingURL=style4.css.map */
