@import "include/_body";
@import "include/_theA";
@import "include/_bien";
@import "include/_img";

a {
    @include the_a(rgb(42, 42, 46));
}
body {
    @include body(733px, 570px);
    font-family: $font;
    font-size: 10px;
    margin-top: 9px;
    margin-left: 7px;
}
.head{
    display: inline-flex;
    h1{
        border-left: 5px solid orangered;
        font-weight: 700;
        padding-left: 11px;
    }
    span{
        margin-top: 16px;
        font-size: 14.5px;
    }
    select{
        height: 26px;
        border-radius: 3px;
    }
    #opHead{
        margin-left: 19px;
        margin-top: 7px;
        width: 43px;
    }
    #opBet{
        margin-left: 10px;
        margin-top: 7px;
        width: 87px;
    }
    #opEnd{
        margin-left: 10px;
        margin-top: 7px;
        width: 57px;
    }
    button{
        height: 28px;
        width: 89px;
        border-radius: 3px;
        margin-left: 13px;
        margin-top: 6px;
        background-color: rgb(119, 119, 119);
        color: rgb(255, 255, 255);
    }
}
.tren{
    display: inline-flex;
    .stt1{
        a{
            width: 227px;
        }
        width: 227px;
        margin-right: 14px;
    }
    .stt2{
        a{
            width: 227px;
        }
        margin-right: 14px;
    }
    .stt3{
        width: 227px;
    }
}
.duoi{
    display: inline-flex;
    .stt4{
        .danNgang{
            width: 227px;
            max-width: 100%;
            margin-right: 14px;
        }
    }
    .stt5{
        width: 227px;
    }
    .stt6{
        margin-left: 14px;
        width: 227px;
    }
}
span{
    color: rgb(119, 119, 119);
}
