@import "include/_body";
@import "include/_theA";
@import "include/_bien";
@import "include/_img";

a {
    @include the_a(rgb(42, 42, 46));
}
body {
    @include body(243px, 252px);
    font-family: $font;
    font-size: 7px;
    margin-top: 9px;
    margin-left: 7px;
}
.stt1 {
    .left1 {
        position: relative;
    }
    .right1 {
        float: right;
        width: 242px;
        max-width: 100%;
        position: absolute;
        left: 51px;
        top: 0px;
        width: 202px;
        h2 {
            margin-bottom: 4px;
        }
    }
    .danNgang {
        display: flex;
        a {color: rgb(172, 172, 172);}
        .luotXem {
            color: rgb(172, 172, 172);
        }
    }
    margin-bottom: 20px;
}
.stt2 {
    .left2 {
        position: relative;
    }
    .right2 {
        float: right;
        width: 242px;
        max-width: 100%;
        position: absolute;
        left: 51px;
        top: 60px;
        width: 202px;
        h2 {
            margin-bottom: 4px;
            color: rgb(133, 133, 133);
        }
    }
    .danNgang {
        display: flex;
        a {color: rgb(189, 189, 189);}
        .luotXem {
            color: rgb(189, 189, 189);
        }
    }
    margin-bottom: 20px;
}
.stt3 {
    .left3 {
        position: relative;
    }
    .right3 {
        float: right;
        width: 242px;
        max-width: 100%;
        position: absolute;
        left: 51px;
        top: 115px;
        width: 202px;
        h2 {
            margin-bottom: 4px;
            color: rgb(133, 133, 133);
        }
    }
    .danNgang {
        display: flex;
        a {color: rgb(189, 189, 189);}
        .luotXem {
            color: rgb(189, 189, 189);
        }
    }
    margin-bottom: 20px;
}
.stt4 {
    .left4 {
        position: relative;
    }
    .right4 {
        float: right;
        width: 242px;
        max-width: 100%;
        position: absolute;
        left: 51px;
        top: 184px;
        width: 202px;
        h2 {
            margin-bottom: 4px;
            color: rgb(133, 133, 133);
        }
    }
    .danNgang {
        display: flex;
        a {color: rgb(189, 189, 189);}
        .luotXem {
            color: rgb(189, 189, 189);
        }
    }
}
