a:hover {
  color: #9090a5; }

img {
  max-width: 100%;
  max-height: auto; }

a {
  display: block;
  text-decoration: none;
  color: #2a2a2e; }

body {
  width: 580px;
  height: 345px;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 7px;
  margin-top: 9px;
  margin-left: 7px; }

.mutex {
  display: inline-flex;
  width: 255px;
  margin-bottom: 9px;
  background-color: #e5e5e8; }
  .mutex h1 {
    font-size: 19px;
    margin-left: 6px;
    margin-top: 4px; }
    .mutex h1 u {
      text-decoration: none;
      border-bottom: 4px solid #29f796; }

.left {
  position: relative; }
  .left #anh {
    position: absolute;
    top: 186px;
    left: 2px; }

.right {
  float: right;
  margin-left: 16px;
  position: absolute;
  top: 12px;
  left: 315px;
  width: 255px;
  height: 305px;
  border-right: 1px solid #f1f1f1; }
  .right .danNgang {
    display: flex; }
    .right .danNgang a {
      color: #888888; }
    .right .danNgang .luotXem {
      color: #888888; }

.stt1 {
  border-right: 5px solid #d8d8d8; }
  .stt1 .left1 {
    margin-bottom: 20px; }
  .stt1 .right1 {
    float: right;
    max-width: 100%;
    position: absolute;
    left: 49px;
    top: 41px;
    width: 200px; }
    .stt1 .right1 h2 {
      margin-bottom: 4px; }

.stt2 .left2 {
  margin-bottom: 20px; }
.stt2 .right2 {
  float: right;
  max-width: 100%;
  position: absolute;
  left: 49px;
  top: 100px;
  width: 200px; }
  .stt2 .right2 h2 {
    margin-bottom: 4px; }

.stt3 .left3 {
  margin-bottom: 20px; }
.stt3 .right3 {
  float: right;
  max-width: 100%;
  position: absolute;
  left: 49px;
  top: 159px;
  width: 200px; }
  .stt3 .right3 h2 {
    margin-bottom: 4px; }

.stt4 .left4 {
  margin-bottom: 20px; }
.stt4 .right4 {
  float: right;
  max-width: 100%;
  position: absolute;
  left: 49px;
  top: 223px;
  width: 200px; }
  .stt4 .right4 h2 {
    margin-bottom: 4px; }

/*# sourceMappingURL=style9.css.map */
