@import "include/_body";
@import "include/_theA";
@import "include/_bien";

body {
    @include body(1402px, 42px);
    font-size: 14px;
    
}
a {
    display: block;
    text-align: center;
    padding: 12.5px;
    text-decoration: none;
    @include the_a(white);
}

ul {
    li {
        #logo{
            padding-top: 5px;
            margin-left: 69px;
        }
        float: left;
    }
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 42px;
  overflow: hidden;
  background-color:rgb(34,34,34);
}
