a:hover {
  color: #9090a5; }

img {
  max-width: 100%;
  max-height: auto; }

a {
  display: block;
  text-decoration: none;
  color: #2a2a2e; }

body {
  width: 733px;
  height: 570px;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  margin-top: 9px;
  margin-left: 7px; }

.head {
  display: inline-flex; }
  .head h1 {
    border-left: 5px solid orangered;
    font-weight: 700;
    padding-left: 11px; }
  .head span {
    margin-top: 16px;
    font-size: 14.5px; }
  .head select {
    height: 26px;
    border-radius: 3px; }
  .head #opHead {
    margin-left: 19px;
    margin-top: 7px;
    width: 43px; }
  .head #opBet {
    margin-left: 10px;
    margin-top: 7px;
    width: 87px; }
  .head #opEnd {
    margin-left: 10px;
    margin-top: 7px;
    width: 57px; }
  .head button {
    height: 28px;
    width: 89px;
    border-radius: 3px;
    margin-left: 13px;
    margin-top: 6px;
    background-color: #777777;
    color: white; }

.tren {
  display: inline-flex; }
  .tren .stt1 {
    width: 227px;
    margin-right: 14px; }
    .tren .stt1 a {
      width: 227px; }
  .tren .stt2 {
    margin-right: 14px; }
    .tren .stt2 a {
      width: 227px; }
  .tren .stt3 {
    width: 227px; }

.duoi {
  display: inline-flex; }
  .duoi .stt4 .danNgang {
    width: 227px;
    max-width: 100%;
    margin-right: 14px; }
  .duoi .stt5 {
    width: 227px; }
  .duoi .stt6 {
    margin-left: 14px;
    width: 227px; }

span {
  color: #777777; }

/*# sourceMappingURL=style10.css.map */
