a:hover {
  color: #9090a5; }

body {
  width: 1402px;
  height: 42px;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  font-size: 14px; }

a {
  display: block;
  text-align: center;
  padding: 12.5px;
  text-decoration: none;
  display: block;
  text-decoration: none;
  color: white; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 42px;
  overflow: hidden;
  background-color: #222222; }
  ul li {
    float: left; }
    ul li #logo {
      padding-top: 5px;
      margin-left: 69px; }

/*# sourceMappingURL=style1.css.map */
