@import "include/_body";
@import "include/_theA";
@import "include/_bien";

body {
    @include body(292px, 404px);
    font-size: 16.8px;
    margin-top: 9px;
    margin-left: 11px;
}
a {
    @include the_a(rgb(0, 0, 0));
}
.tren {
    .head {
        h3 {
            margin-left: 11px;
            margin-bottom: 13px;
        }
        border-left: 3.5px solid red;
    }
    .content {
        h4 {
            margin-top: 0px;
            width: 259px;
        }
    }
    border-bottom: 1px solid rgb(236, 233, 233);
    width: 259px;
    margin-bottom: 16px;
    padding-bottom: 11px;
}
.duoi {
    .duoi_tren {
        img {
            float: left;
        }
        p {
            font-size: 13.6px;
            margin-top: 4.49px;
            float: right;
            width: 199px;
            color: rgb(0, 0, 0);
        }
        width: 259px;
    }
    .duoi_duoi {
        img {
            float: left;
            margin-top: 12px;
        }
        p {
            font-size: 13.6px;
            float: right;
            width: 199px;
            color: rgb(0, 0, 0);
        }
        width: 259px;
    }
}
