a:hover {
  color: #9090a5; }

img {
  max-width: 100%;
  max-height: auto; }

a {
  display: block;
  text-decoration: none;
  color: #2a2a2e; }

body {
  width: 705px;
  height: 679px;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12.69px;
  margin-top: 9px;
  margin-left: 7px; }

.stt1 .left {
  float: left;
  position: relative; }

.stt1 .right {
  float: right;
  width: 434px;
  max-width: 100%; }
  .stt1 .right h2 {
    margin-top: 0%;
    line-height: 25px;
    margin-bottom: 13px; }
  .stt1 .right p {
    line-height: 20px; }

.stt1 .danNgang {
  display: flex; }
  .stt1 .danNgang .gio {
    color: #777777; }

.stt2 .left1 {
  float: left;
  position: absolute;
  top: 216px; }

.stt2 .right1 {
  float: right;
  width: 434px;
  max-width: 100%;
  margin-top: 40px; }
  .stt2 .right1 h2 {
    margin-top: 0%;
    line-height: 25px;
    margin-bottom: 13px; }
  .stt2 .right1 p {
    line-height: 20px; }

.stt2 .danNgang1 {
  display: flex; }
  .stt2 .danNgang1 .gio {
    color: #777777; }

.stt3 .left2 {
  float: left;
  position: absolute;
  top: 420px; }

.stt3 .right2 {
  float: right;
  width: 434px;
  max-width: 100%;
  margin-top: 59px; }
  .stt3 .right2 h2 {
    margin-top: 0%;
    line-height: 25px;
    margin-bottom: 13px; }
  .stt3 .right2 p {
    line-height: 20px; }

.stt3 .danNgang2 {
  display: flex; }
  .stt3 .danNgang2 .gio {
    color: #777777; }

.stt4 .left3 {
  float: left;
  position: absolute;
  top: 629px; }

.stt4 .right3 {
  float: right;
  width: 434px;
  max-width: 100%;
  margin-top: 44px; }
  .stt4 .right3 h2 {
    margin-top: 0%;
    line-height: 25px;
    margin-bottom: 13px; }
  .stt4 .right3 p {
    line-height: 20px; }

.stt4 .danNgang3 {
  display: flex; }
  .stt4 .danNgang3 .gio {
    color: #777777; }
