a:hover {
  color: #9090a5; }

img {
  max-width: 100%;
  max-height: auto; }

a {
  display: block;
  text-decoration: none;
  color: #2a2a2e; }

body {
  width: 243px;
  height: 252px;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 7px;
  margin-top: 9px;
  margin-left: 7px; }

.stt1 {
  margin-bottom: 20px; }
  .stt1 .left1 {
    position: relative; }
  .stt1 .right1 {
    float: right;
    width: 242px;
    max-width: 100%;
    position: absolute;
    left: 51px;
    top: 0px;
    width: 202px; }
    .stt1 .right1 h2 {
      margin-bottom: 4px; }
  .stt1 .danNgang {
    display: flex; }
    .stt1 .danNgang a {
      color: #acacac; }
    .stt1 .danNgang .luotXem {
      color: #acacac; }

.stt2 {
  margin-bottom: 20px; }
  .stt2 .left2 {
    position: relative; }
  .stt2 .right2 {
    float: right;
    width: 242px;
    max-width: 100%;
    position: absolute;
    left: 51px;
    top: 60px;
    width: 202px; }
    .stt2 .right2 h2 {
      margin-bottom: 4px;
      color: #858585; }
  .stt2 .danNgang {
    display: flex; }
    .stt2 .danNgang a {
      color: #bdbdbd; }
    .stt2 .danNgang .luotXem {
      color: #bdbdbd; }

.stt3 {
  margin-bottom: 20px; }
  .stt3 .left3 {
    position: relative; }
  .stt3 .right3 {
    float: right;
    width: 242px;
    max-width: 100%;
    position: absolute;
    left: 51px;
    top: 115px;
    width: 202px; }
    .stt3 .right3 h2 {
      margin-bottom: 4px;
      color: #858585; }
  .stt3 .danNgang {
    display: flex; }
    .stt3 .danNgang a {
      color: #bdbdbd; }
    .stt3 .danNgang .luotXem {
      color: #bdbdbd; }

.stt4 .left4 {
  position: relative; }

.stt4 .right4 {
  float: right;
  width: 242px;
  max-width: 100%;
  position: absolute;
  left: 51px;
  top: 184px;
  width: 202px; }
  .stt4 .right4 h2 {
    margin-bottom: 4px;
    color: #858585; }

.stt4 .danNgang {
  display: flex; }
  .stt4 .danNgang a {
    color: #bdbdbd; }
  .stt4 .danNgang .luotXem {
    color: #bdbdbd; }
