a:hover {
  color: #9090a5; }

body {
  width: 292px;
  height: 404px;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  font-size: 16.8px;
  margin-top: 9px;
  margin-left: 11px; }

a {
  display: block;
  text-decoration: none;
  color: black; }

.tren {
  border-bottom: 1px solid #ece9e9;
  width: 259px;
  margin-bottom: 16px;
  padding-bottom: 11px; }
  .tren .head {
    border-left: 3.5px solid red; }
    .tren .head h3 {
      margin-left: 11px;
      margin-bottom: 13px; }
  .tren .content h4 {
    margin-top: 0px;
    width: 259px; }

.duoi .duoi_tren {
  width: 259px; }
  .duoi .duoi_tren img {
    float: left; }
  .duoi .duoi_tren p {
    font-size: 13.6px;
    margin-top: 4.49px;
    float: right;
    width: 199px;
    color: black; }

.duoi .duoi_duoi {
  width: 259px; }
  .duoi .duoi_duoi img {
    float: left;
    margin-top: 12px; }
  .duoi .duoi_duoi p {
    font-size: 13.6px;
    float: right;
    width: 199px;
    color: black; }
