a:hover {
  color: #9090a5; }

#left {
  border-right: 1px dotted #c7c6c6;
  float: left;
  width: 34px;
  padding-bottom: 27px; }
  #left p {
    color: orangered; }

#right {
  float: right;
  width: 185px;
  font-weight: 700;
  line-height: 16.5px;
  padding-right: 4px; }
  #right p {
    margin-top: 1px;
    color: black; }

body {
  width: 276px;
  height: 403px;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  margin-top: 9px;
  margin-left: 4px; }

.head h3 {
  background: url(/images/dongHo.PNG);
  background-repeat: no-repeat;
  padding-left: 30px;
  margin-top: 0px;
  margin-bottom: 11px;
  margin-right: 28px; }

.head td {
  display: inline-flex; }

.list_hour {
  height: 45px;
  border-bottom: 1px dotted #c7c6c6;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  padding-bottom: 30px; }

a {
  text-decoration: none;
  display: block; }

.scroll-table {
  width: 260px;
  height: 365px;
  overflow-y: auto;
  border: 1px solid #968282;
  border-radius: 3px;
  margin-left: 8px; }
  .scroll-table table {
    margin-left: 8px; }

::-webkit-scrollbar {
  width: 5px;
  border: 1px solid #d5d5d5; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #c2c0c0; }
