a:hover {
  color: #9090a5; }

body {
  width: 1405px;
  height: 38px;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  font-size: 12.5px; }

a {
  display: block;
  text-align: center;
  padding: 5px;
  padding-top: 13px;
  text-decoration: none;
  display: block;
  text-decoration: none;
  color: white; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 38px;
  overflow: hidden;
  background: url(/images/menu3-nen.png); }
  ul li {
    float: left;
    border-right: 2px solid #396bb0; }
    ul li #home {
      padding-top: 6px;
      margin-left: 162px; }
    ul li #menu {
      padding-top: 15px; }
