<!--build:style_style4-->
<link rel="stylesheet" href="assets/css/style4.css">
<!--/build:style_style4-->

<!-- build:index4 -->
    <div class="tren">
        <div class="left">
            <a href="#"><img src="assets/images/left.png" alt="anh1" width="252px" height="166px"></a>
        </div>

        <div class="right">
            <a href="#">
                <h2>Những gương mặt thủ khoa đại học đạt tuyệt đối 30 điểm: Khi bạn giỏi thực sự, điểm thi chỉ là một
                    con
                    số!</h2>
            </a>
            <div class="danNgang">
                <a href="#"><strong>Học đường </strong></a>
                <span class="gio" style="margin-left: 2px;"> - 3 giờ trước</span>
            </div>
            <a href="#">
                <p>Hầu hết thủ khoa đạt 30 điểm trong kỳ thi THPT Quốc gia đều tự chấm được 30 điểm cho mình ngay sau
                    khi
                    ...</p>
            </a>
        </div>
    </div>
    <div class="duoi">
        <div class="left1">
            <a href="#"><img src="assets/images/news-list-anh2.png" alt="anh1" width="252px" height="166px"></a>
        </div>

        <div class="right1">
            <a href="#">
                <h2>Cầu thủ Morocco tố trộng tài lén lút xin áo đấu của Ronaldo</h2>
            </a>
            <div class="danNgang1">
                <a href="#"><strong>sport </strong></a>
                <span class="gio" style="margin-left: 2px;"> - 4 giờ trước</span>
            </div>
            <a href="#">
                <p>Tiền vệ Nordin Amrabat cáo buộc trọng tài Mark Geiger có hành động
                    ngỏ ý xin áo đấu của Cristiano Ronaldo trong hiệp 1 ...
                </p>
            </a>
        </div>
    </div>

<!-- /build:index4 -->