<!--build:style_style7-->
<link rel="stylesheet" href="assets/css/style7.css">
<!--/build:style_style7-->

<!-- build:index7 -->
    <div class="boder">
        <div class="head">
            <img src="assets/images/Capture.PNG">
            <h1 style="cursor: pointer;">ĐANG ĐƯỢC QUAN TÂM</h1>
        </div>
        <div class="content">
            <div class="stt1">
                <div class="upon">
                    <div class="anh1">
                        <a href="#">
                            <img src="assets/images/Capture_1.PNG" alt="ảnh" width="209px" height="130px"></a>
                    </div>
                </div>
                <div class="under">
                    <a href="#">
                        <h2>"Đại chiến khoe nhẫn kim cương" của Hà Hồ và Lệ Quyên chắc chắn còn căng hơn cả...</h2>
                    </a>
                </div>
            </div>
            <div class="stt2">
                <div class="upon">
                    <div class="anh1"> <a href="#"><img src="assets/images/anh1_step3.png" alt="ảnh" width="209px"
                                height="130px"></a>
                    </div>
                    <div class="anh2">
                        <a href="#"><img src="assets/images/mat_xem_step3.png" alt="ảnh"></a>
                    </div>
                    <div class="nguoiXem">
                        <a href="#" style="color: rgb(216, 211, 202);">
                            <p>114.944 lượt xem</p>
                        </a>
                    </div>

                </div>
                <div class="under">
                    <a href="#">
                        <h2>Xuất thân trâm anh thế phiệt của các sao Hollywood: Sinh ra đã ngậm thìa vàng ...</h2>
                    </a>
                </div>
            </div>
            <div class="stt3">
                <div class="upon">
                    <div class="anh1"> <a href="#"><img src="assets/images/news-slide-3.png" alt="ảnh" width="219px"
                                height="210px"></a>
                    </div>
                </div>
            </div>

        </div>
        <div class="footer">
            <a href="#"><img src="assets/images/Capture_2.PNG"></a>
        </div>
    </div>

<!-- /build:index7 -->