<!--build:style_style1-->
<link rel="stylesheet" href="assets/css/style1.css">
<!--/build:style_style1-->
    
<!-- build:index1 -->
    <div class="list">
        <ul>
            <li> <a id="logo" href="#"><img src="assets/images/menu_logo.png" width="30px" height="34px"></a></li>
            <li> <a href="#">Star</a></li>
            <li> <a href="#">TV Show</a></li>
            <li> <a href="#">Ciné</a></li>
            <li> <a href="#">Musik</a></li>
            <li> <a href="#">Fashion</a></li>
            <li> <a href="#">Đời sống</a></li>
            <li> <a href="#">Ăn cả thế giới</a></li>
            <li> <a href="#">Xã hội</a></li>
            <li> <a href="#">Thế giới</a></li>
            <li> <a href="#">Sport</a></li>
            <li> <a href="#">Học đường</a></li>
            <li> <a href="#">Video</a></li>
            <li> <a href="#"><img src="assets/images/menu_menu.png" width="23px" height="16px" alt="menu"></a></li>
        </ul>
    </div>
<!-- /build:index1 -->