<!--build:style_style6-->
<link rel="stylesheet" href="assets/css/style6.css">
<!--/build:style_style6-->

<!-- build:index6 -->
    <div class="tren">
        <div class="head">
            <h3><a href="#">THỜI SỰ</a> </h3>
        </div>
        <div class="anh">
            <a href="#"><img src="assets/images/news-list-3-stt1.png" alt="anh" width="258px" height="147px"></a>
        </div>
        <div class="content">
            <a href="#">
                <h4>Triệt phá ổ mại dâm núp bóng quán cà phê do ông "trùm" U60 cầm đầu</h4>
            </a>
        </div>
    </div>
    <div class="duoi">
        <div class="duoi_tren">
            <a href="#"><img src="assets/images/news-list-3-stt2.png" alt="anh" width="50px" height="50px"></a>
            <a href="#">
                <p>Cách chức Trưởng công an xã vào nhà nghỉ với vợ bạn thân</p>
            </a>

        </div>
        <div class="duoi_duoi">
            <a href="#"><img src="assets/images/news-list-3-stt3.png" alt="anh" width="50px" height="50px"></a>
            <a href="#">
                <p>Vĩnh Long: Bé gái 4 tuổi bị bạn của bố dùng tay đánh đập xuống nền...</p>
            </a>
        </div>
    </div>
<!-- /build:index6 -->