<!--build:style_style5-->
<link rel="stylesheet" href="assets/css/style5.css">
<!--/build:style_style5-->

<!-- build:index5 -->
    <div class="stt1">
        <div class="left">
            <a href="#"><img src="assets/images/left.png" alt="anh1" width="252px" height="166px"></a>
        </div>

        <div class="right">
            <a href="#">
                <h2>Những gương mặt thủ khoa đại học đạt tuyệt đối 30 điểm: Khi bạn giỏi thực sự, điểm thi chỉ là một
                    con
                    số!</h2>
            </a>
            <div class="danNgang">
                <a href="#"><strong>Học đường </strong></a>
                <span class="gio" style="margin-left: 2px;"> - 3 giờ trước</span>
            </div>
            <a href="#">
                <p>Hầu hết thủ khoa đạt 30 điểm trong kỳ thi THPT Quốc gia đều tự chấm được 30 điểm cho mình ngay sau
                    khi
                    ...</p>
            </a>
        </div>
    </div>
    <div class="stt2">
        <div class="left1">
            <a href="#"><img src="assets/images/news-list-anh2.png" alt="anh1" width="252px" height="166px"></a>
        </div>

        <div class="right1">
            <a href="#">
                <h2>Cầu thủ Morocco tố trộng tài lén lút xin áo đấu của Ronaldo</h2>
            </a>
            <div class="danNgang1">
                <a href="#"><strong>sport </strong></a>
                <span class="gio" style="margin-left: 2px;"> - 4 giờ trước</span>
            </div>
            <a href="#">
                <p>Tiền vệ Nordin Amrabat cáo buộc trọng tài Mark Geiger có hành động
                    ngỏ ý xin áo đấu của Cristiano Ronaldo trong hiệp 1 ...
                </p>
            </a>
        </div>
    </div>
    <div class="stt3">
        <div class="left2">
            <a href="#"><img src="assets/images/step2-anh3.png" alt="anh1" width="252px" height="166px"></a>
        </div>

        <div class="right2">
            <a href="#">
                <h2>Quán phở gia truyền 100 năm của Hà Nội bất ngờ được quảng cáo trên kênh du lịch ESB nổi tiếng của Hàn Quốc</h2>
            </a>
            <div class="danNgang2">
                <a href="#"><strong>Ăn cả thế giới </strong></a>
                <span class="gio" style="margin-left: 2px;"> - 4 giờ trước</span>
            </div>
            <a href="#">
                <p>Hình ảnh phở Việt Nam ngày càng nhận được sự yêu mến của bạn bè quốc tế, và đó chính là một niềm tự hào rất đáng ... </p>
            </a>
        </div>
    </div>
    <div class="stt4">
        <div class="left3">
            <a href="#"><img src="assets/images/step2-anh4.png" alt="anh1" width="252px" height="166px"></a>
        </div>

        <div class="right3">
            <a href="#">
                <h2>Lục lại gia tài 10 diễn viên"Lord of the Rings" trở thành báu vật của Hollywood</h2>
            </a>
            <div class="danNgang3">
                <a href="#"><strong>Ciné </strong></a>
                <span class="gio" style="margin-left: 2px;"> - 4 giờ trước</span>
            </div>
            <a href="#">
                <p>Nhiều diễn viên đã trở nên nổi tiếng nhờ loạt phim"Lord of the Rings" nhưng ai mới là báu vật thật sự trong đời sống</p>
            </a>
        </div>
    </div>

<!-- /build:index5 -->