<!--build:style_style11-->
<link rel="stylesheet" href="assets/css/style11.css">
<!--/build:style_style11-->

<!-- build:index11 -->
    <div class="wrap">
        <table class="head">
            <tbody>
                <tr>
                    <td>
                        <h3>TIN MỚI NHẤT</h3>
                        <a href="#"><img src="assets/images/nut_len.PNG"></a>
                        <a href="#"><img src="assets/images/nut_xuong.PNG"></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="scroll-table">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="list_hour">
                                <section id="left">
                                    <a href="#">
                                        <p>13:00</p>
                                    </a>
                                </section>
                                <aside id="right" style="margin-left: 10px;">
                                    <a href="#">
                                        <p>6 tháng sau vụ "13 đứa trẻ nhà Turpin": Cặp vợ chồng quỷ dữ ra hầu tòa, 13
                                            người con đều đang hồi phục tốt
                                        </p>
                                    </a>
                                </aside>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="list_hour">
                                <section id="left">
                                    <a href="#">
                                        <p>13:00</p>
                                    </a>
                                </section>
                                <aside id="right">
                                    <a href="#">
                                        <p>Đến hẹn lại lên, gà YG lại bị KBS " cấm cửa" và Black Pink cũng không thoát
                                        </p>
                                    </a>
                                </aside>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="list_hour">
                                <section id="left">
                                    <a href="#">
                                        <p>12:59</p>
                                    </a>
                                </section>
                                <aside id="right">
                                    <a href="#">
                                        <p>Triệt phá ổ mại dâm núp bóng quán cà phê do ông " trùm" U60 cầm đầu</p>
                                    </a>
                                </aside>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="list_hour">
                                <section id="left">
                                    <a href="#">
                                        <p>12:55</p>
                                    </a>
                                </section>
                                <aside id="right">
                                    <a href="#">
                                        <p>18 items dễ mặc, trendy giá từ 149k - 499k đáng mua nhất trong đợt
                                            sale lớn nhất năm của Zara Việt Nam</p>
                                    </a>
                                </aside>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="list_hour">
                                <section id="left">
                                    <a href="#">
                                        <p>12:30</p>
                                    </a>
                                </section>
                                <aside id="right">
                                    <a href="#">
                                        <p>Cách chức Trưởng công an xã vào nhà nghỉ với vợ bạn thân</p>
                                    </a>
                                </aside>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="list_hour">
                                <section id="left">
                                    <a href="#">
                                        <p>12:10</p>
                                    </a>
                                </section>
                                <aside id="right">
                                    <a href="#">
                                        <p>Đến hẹn lại lên, gà YG lại bị KBS " cấm cửa" và Black Pink cũng không thoát
                                        </p>
                                    </a>
                                </aside>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

<!-- /build:index11 -->