<!--build:style_style8-->
<link rel="stylesheet" href="assets/css/style8.css">
<!--/build:style_style8-->

<!-- build:index8 -->
    <div class="stt1">
        <div class="left1">
            <a href="#"><img src="assets/images/step8_stt1.png" alt="anh1" width="38px" height="38px"></a>
        </div>

        <div class="right1">
            <a href="#">
                <h2>Sóc Sơn: Cháy chợ lớn, 1000 mét vuông chợ bị thiêu rụi</h2>
            </a>
            <div class="danNgang">
                <a href="#">2 giờ trước</a>
                <span class="luotXem" style="margin-left: 2px;"> - 7k lượt xem</span>
            </div>
        </div>
    </div>
    <div class="stt2">
        <div class="left2">
            <a href="#"><img src="assets/images/step8_stt2.png" alt="anh1" width="38px" height="38px"></a>
        </div>

        <div class="right2">
            <a href="#">
                <h2>Bảo Thy: Tiền thu nhạc chuông, nhạc chờ cách đây 10 năm đã là 2 tỷ</h2>
            </a>
            <div class="danNgang">
                <a href="#">1 ngày trước</a>
                <span class="luotXem" style="margin-left: 2px;"> - 6k lượt xem</span>
            </div>
        </div>
    </div>
    <div class="stt3">
        <div class="left3">
            <a href="#"><img src="assets/images/step8_stt3.png" alt="anh1" width="38px" height="38px"></a>
        </div>

        <div class="right3">
            <a href="#">
                <h2>Kim Woo Bin đã bình phục trở lại sau 1 năm điều trị ung thư</h2>
            </a>
            <div class="danNgang">
                <a href="#">1 ngày trước</a>
                <span class="luotXem" style="margin-left: 2px;"> - 126 lượt xem</span>
            </div>
        </div>
    </div>
    <div class="stt4">
        <div class="left4">
            <a href="#"><img src="assets/images/step8_stt4.png" alt="anh1" width="38px" height="38px"></a>
        </div>

        <div class="right4">
            <a href="#">
                <h2>Khi vợ cấm đi xem World Cup thì...</h2>
            </a>
            <div class="danNgang">
                <a href="#">1 ngày trước</a>
                <span class="luotXem" style="margin-left: 2px;"> - 5k lượt xem</span>
            </div>
        </div>
    </div>

<!-- /build:index8 -->