<!--build:style_style10-->
<link rel="stylesheet" href="assets/css/style10.css">
<!--/build:style_style10-->

<!-- build:index10 -->
    <div class="head">
        <a href="#">
            <h1>TIN CÙNG CHUYÊN MỤC</h1>
        </a>
        <span>Xem theo ngày</span>
        <select id="opHead">
            <option>21</option>
            <option>20</option>
        </select>
        <select id="opBet">
            <option>THÁNG 6</option>
            <option>THÁNG 5</option>
        </select>
        <select id="opEnd">
            <option>2018</option>
            <option>2017</option>
        </select>
        <button name="button" type="button">Xem</button>
    </div>
    <div class="tren">
        <div class="stt1">
            <a href="#"> <img src="assets/images/news-category-stt1.png" alt="anh" width="227px" height="143px"></a>
            <div class="danNgang">
                <a href="#">
                    <h3>Vĩnh Long: Bé gái 4 tuổi bị bạn của bố dùng tay đánh đập xuống nền gạch đầu tử vong,
                        hung thủ bị điều tra về hành vi"Cố ý gây thương tích"
                        <span style="cursor:pointer;"><img src="assets/images/news-category-noBat.PNG"></span>
                    </h3>
                </a>
            </div>

        </div>
        <div class="stt2">
            <a href="#"> <img src="assets/images/news-category-stt2.png" alt="anh" width="227px" height="143px"></a>
            <div class="danNgang">
                <a href="#">
                    <h3> Cấu chuyện "Cô gái chờ bạn trai suốt đêm ngoài đường rồi bất ngờ
                        bỏ đi để lại túi xách giấy tờ" khiến cư dân mạng trổ tài thám tử
                        <span style="cursor:pointer;"><img src="assets/images/news-category-noBat.PNG"></span>
                    </h3>
                </a>

            </div>

        </div>
        <div class="stt3">
            <a href="#"> <img src="/images/news-category-stt3.png" alt="anh" width="227px" height="143px"></a>
            <div class="danNgang">
                <a class="mot1" href="#">
                    <h3> Vụ thi thể bị trói chân tay nổi trên sông ở Đà Nẵng:
                        Nạn nhân làm nghề cho vay tiền
                        <span> - 47 phút trước</span>
                    </h3>
                </a>
            </div>
        </div>
    </div>
    <div class="duoi">
        <div class="stt4">
            <a href="#"> <img src="/images/news-category-stt4.png" alt="anh" width="227px" height="143px"></a>
            <div class="danNgang">
                <a href="#">
                    <h3>Quảng Ninh: Sét đánh khiến toàn bộ điện lưới đảo Cô Tô mất điện kéo dài
                        <span> - 01 giờ trước</span>
                    </h3>
                </a>
            </div>
        </div>
        <div class="stt5">
            <a href="#"> <img src="/images/news-category-stt5.png" alt="anh" width="227px" height="143px"></a>
            <div class="danNgang">
                <a href="#">
                    <h3>Khối u quái có răng, tóc, xương trong buồng trứng bé gái <span> - 01 giờ trước</span></h3>
                </a>
            </div>
        </div>
        <div class="stt6">
            <a href="#"> <img src="/images/news-category-stt6.png" alt="anh" width="227px" height="143px"></a>
            <div class="danNgang">
                <a href="#">
                    <h3>Người thân hai thiếu nữ tử vong mang tài đến trụ sở công an huyện
                        <span> - 01 phút trước</span>
                    </h3>
                </a>
            </div>
        </div>

    </div>

<!-- /build:index10 -->