<!--build:style_style2-->
<link rel="stylesheet" href="assets/css/style2.css">
<!--/build:style_style2-->

<!-- build:index2 -->
    <div class="list">
        <ul>
            <li> <a id="home" href="#"><img src="assets/images/menu1-home.png" width="17.5px" height="19.5px"></a></li>
            <li> <a href="#">Star</a></li>
            <li> <a href="#">TV Show</a></li>
            <li> <a href="#">Ciné</a></li>
            <li> <a href="#">Musik</a></li>
            <li> <a href="#">Fashion</a></li>
            <li> <a href="#">Đời sống</a></li>
            <li> <a href="#">Ăn cả thế giới</a></li>
            <li> <a href="#">Xã hội</a></li>
            <li> <a href="#">Thế giới</a></li>
            <li> <a href="#">Sport</a></li>
            <li> <a href="#">Học đường</a></li>
            <li> <a href="#">Video</a></li>
            <li> <a id="menu" href="#"><img src="assets/images/menu1-menu.png" width="24px" height="14px" alt="menu"></a></li>
        </ul>
    </div>

<!-- /build:index2 -->